body{
    margin:0;
    font-family:'Inter',sans-serif;
    background:#f8fafc;
}

.app-container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:250px;
    background:#091426;
    color:white;
    padding:20px;
}

.logo-section h2{
    margin:0;
}

.logo-section p{
    color:#94a3b8;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    margin-top:30px;
}

.sidebar nav a{
    color:white;
    text-decoration:none;
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
}

.sidebar nav a:hover{
    background:#1e293b;
}

/* Main Area */

.main-content{
    flex:1;
}

.topbar{
    background:white;
    padding:20px;
    border-bottom:1px solid #e2e8f0;
}

.page-content{
    padding:30px;
}

/* Cards */

.stats-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.income-card{
    background:#ecfdf5;
    border-left:5px solid #10b981;
}

.expense-card{
    background:#fef2f2;
    border-left:5px solid #ef4444;
}

.balance-card{
    background:#eff6ff;
    border-left:5px solid #3b82f6;
}

.card h4{
    margin:0;
}

.card h2{
    margin-top:15px;
}

/* Table */

.table-card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#f1f5f9;
}

table th,
table td{
    padding:12px;
    text-align:left;
    border-bottom:1px solid #e2e8f0;
}
/* Authentication */

.auth-body{
    background:#f8fafc;
}

.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.auth-card{
    background:white;
    width:400px;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.auth-card h1{
    text-align:center;
}

.auth-card p{
    text-align:center;
}

.auth-card input{
    width:100%;
    padding:12px;
    margin-top:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.auth-card button{
    width:100%;
    margin-top:15px;
    background:#091426;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

/* Forms */

.form-card{
    background:white;
    padding:30px;
    border-radius:15px;
    max-width:600px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.form-card form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-card input,
.form-card select,
.form-card textarea{
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:8px;
}

.form-card button{
    background:#4648d4;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

.form-card button:hover{
    background:#3730a3;
}