{% extends "base.html" %}

{% block page_title %}
Dashboard
{% endblock %}

{% block content %}

<!-- Stats Cards -->

<div class="stats-grid">

    <div class="card income-card">

        <h4>Total Income</h4>

        <h2>₹{{ total_income }}</h2>

    </div>

    <div class="card expense-card">

        <h4>Total Expense</h4>

        <h2>₹{{ total_expense }}</h2>

    </div>

    <div class="card balance-card">

        <h4>Current Balance</h4>

        <h2>₹{{ balance }}</h2>

    </div>

</div>

<br>

<!-- Recent Transactions -->

<div class="table-card">

    <h3>Recent Expenses</h3>

    <table>

        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>

        {% for item in recent_expenses %}

        <tr>

            <td>{{ item.date }}</td>

            <td>{{ item.category }}</td>

            <td>{{ item.description }}</td>

            <td>₹{{ item.amount }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}