{% extends "base.html" %}

{% block page_title %}
Add Expense
{% endblock %}

{% block content %}

<div class="form-card">

    <h2>Add Expense</h2>

    <form action="/add_expense" method="POST">

        <input type="number"
               step="0.01"
               name="amount"
               placeholder="Amount"
               required>

        <select name="category" required>

            <option value="">Select Category</option>

            <option>Food</option>
            <option>Travel</option>
            <option>Shopping</option>
            <option>Education</option>
            <option>Bills</option>

        </select>

        <input type="date"
               name="date"
               required>

        <textarea
            name="description"
            placeholder="Description">
        </textarea>

        <button type="submit">
            Save Expense
        </button>

    </form>

</div>

{% endblock %}