{% extends "base.html" %}

{% block page_title %}
Add Income
{% endblock %}

{% block content %}

<div class="form-card">

    <h2>Add Income</h2>

    <form action="/add_income"
          method="POST">

        <input type="number"
               step="0.01"
               name="amount"
               placeholder="Income Amount"
               required>

        <input type="text"
               name="source"
               placeholder="Income Source"
               required>

        <input type="date"
               name="date"
               required>

        <button type="submit">
            Save Income
        </button>

    </form>

</div>

{% endblock %}